<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncIO" version="0.1.17.0" targetFramework="net45" />
  <package id="Castoriadis.Comm" version="1.0.0-CI00022" targetFramework="net45" />
  <package id="NetMQ" version="3.3.0.12-rc1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1-beta2" targetFramework="net45" />
</packages>